body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #1a132b;
      color: #fff;
      overflow-x: hidden;
    }
    
    #root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      position: relative;
    }
    
    *, *::before, *::after {
      box-sizing: border-box;
    }
